/* This file is for your main application CSS */

/* minimal styling */
body {
    margin: 1em;
}

/* oat.ink theme toggle support */
html[data-theme="dark"] .icon-dark {
    display: none;
}
html:not([data-theme="dark"]) .icon-light {
    display: none;
}

.undecorated {
    text-decoration: none;
    display: block;
}

.fullscreen {
    width: 100vw;
    height: 100vh;
}

.bold {
    font-weight: bold;
}

.nomargin {
    margin: 0;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.cursor-pointer {
    cursor: pointer;
}

.text-smaller {
    font-size: 0.8em;
}

ot-dropdown.locale-selector [popover] {
    min-width: 4rem;
    width: max-content;
    opacity: 0;
    transition: none;
}
