<Layouts.flash_group flash={@flash} />

<div class="container">
  <div class="row">
    <div class="col-6 offset-3">
      <h1>
        Phoenix Framework
        <small>
          v{Application.spec(:phoenix, :vsn)}
        </small>
      </h1>

      <img src={~p"/images/logo.svg"} width="200px" />

      <p>
        Peace of mind from prototype to production.
      </p>
      <p>
        Build rich, interactive web applications quickly, with less code and fewer moving parts.
        Join our growing community of developers using Phoenix to craft APIs, HTML5 apps and more, for fun or at scale.
      </p>

      <ul>
        <li>
          <a href="https://hexdocs.pm/phoenix/overview.html">
            Guides &amp; Docs
          </a>
        </li>
        <li>
          <a href="https://github.com/phoenixframework/phoenix">
            Source Code
          </a>
        </li>
        <li>
          <a href={"https://github.com/phoenixframework/phoenix/blob/v#{Application.spec(:phoenix, :vsn)}/CHANGELOG.md"}>
            Changelog
          </a>
        </li>
      </ul>

      <ul>
        <li>
          <a href="https://elixirforum.com">
            Discuss on the Elixir Forum
          </a>
        </li>
        <li>
          <a href="https://discord.gg/elixir">
            Join our Discord server
          </a>
        </li>
        <li>
          <a href="https://elixir-slack.community/">
            Join us on Slack
          </a>
        </li>
        <li>
          <a href="https://fly.io/docs/elixir/getting-started/">
            Deploy your application
          </a>
        </li>
      </ul>

      <p>
        <button class="outline small" title="Switch theme" onclick="toggleTheme()">
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="icon-light"
          >
            <circle cx="12" cy="12" r="5" />
            <line x1="12" y1="1" x2="12" y2="3" />
            <line x1="12" y1="21" x2="12" y2="23" />
            <line x1="4.22" y1="4.22" x2="5.64" y2="5.64" />
            <line x1="18.36" y1="18.36" x2="19.78" y2="19.78" />
            <line x1="1" y1="12" x2="3" y2="12" />
            <line x1="21" y1="12" x2="23" y2="12" />
            <line x1="4.22" y1="19.78" x2="5.64" y2="18.36" />
            <line x1="18.36" y1="5.64" x2="19.78" y2="4.22" />
          </svg>
          <svg
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            class="icon-dark"
          >
            <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z" />
          </svg>
        </button>
      </p>
    </div>
  </div>
</div>
